.content {
	.header {
		border-radius: 20px;
		.content {
			width: 100%;
			p {
				font-style: 'italic' !important;
			}
		}
		.asset {
			width: 30%;
			min-width: 140px;
			max-width: 300px;
		}
	}
}

@media (min-width: 768px) {
	.content {
		.header {
			.content {
				ion-card-title {
					font-size: 26px;
				}
				p {
					font-size: 18px;
				}
			}
		}
	}
}
