<ion-header class="ion-no-border">
	<ion-toolbar color="light" class="px-2">
		<ion-back-button slot="start">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
		</ion-back-button>
		<ion-menu-button slot="end"></ion-menu-button>
	</ion-toolbar>
</ion-header>
<ion-content color="light">
	<div class="content mx-auto app-max-width w-100 h-100">
		<div class="p-3">
			<ion-card
				color="dark"
				class="header w-100 d-flex align-items-center m-0 shadow-sm"
			>
				<div class="content p-3 py-4">
					<ion-card-title class="font-weight-bold">
						Hello {{name}}
					</ion-card-title>
					<p class="mt-2">
						{{ today | date }}
						<small class="text-secondary"
							>{{ today | date:'hh:mm:ss a' }}</small
						>
					</p>
				</div>
				<figure class="asset">
					<img src="assets/img/calendar-amico.svg" alt="" />
				</figure>
			</ion-card>
		</div>
		<ion-toolbar color="light" mode="ios" class="my-3">
			<ion-segment #segment [value]="tasks_lists[0]?.name">
				<ng-container *ngFor="let item of tasks_lists">
					<ion-segment-button [value]="item?.name">
						<ion-label color="dark">
							{{ item?.name | titlecase}}
						</ion-label>
					</ion-segment-button>
				</ng-container>
			</ion-segment>
		</ion-toolbar>
		<app-tasks-list
			*ngIf="overdue_tasks?.is_active"
			[data]="overdue_tasks"
			[fixed]="true"
			(output)="onOneTasksListOutput($event)"
		></app-tasks-list>

		<ng-container *ngFor="let item of tasks_lists">
			<app-tasks-list
				*ngIf="item.name === segment?.value"
				[data]="item?.list"
				[fixed]="true"
				(output)="onOneTasksListOutput($event)"
			></app-tasks-list>
		</ng-container>
	</div>
</ion-content>
