<ion-toolbar color="light" mode="ios" class="mb-3">
	<div class="w-100 d-flex justify-content-center font-medium">
		<ion-icon class="ml-3" color="primary" name="qr-code"></ion-icon>
		<div class="mb-1 ml-2 font-weight-bold">
			{{ data?.sale_id }}
		</div>
	</div>
</ion-toolbar>
<div class="w-100 d-flex justify-content-center align-items-center mb-5">
	<div class="shadow image">
		<app-avatar
			size="large"
			[rounded]="false"
			[alt]="customer?.name"
			[src]="data?.image?.url_thumb || data?.image?.url"
		></app-avatar>
	</div>
</div>

<ion-item class="w-100" color="light" *ngIf="customer">
	<app-user-avatar class="avatar mr-2" [data]="customer"></app-user-avatar>
	<ion-label class="font-weight-bold">
		Customer
		<p>{{ customer?.name }}</p>
	</ion-label>
	<small slot="end" class="text-secondary">{{ customer?.dni }}</small>
</ion-item>

<ion-item class="w-100" color="light">
	<mat-accordion class="w-100">
		<mat-expansion-panel>
			<mat-expansion-panel-header class="pl-0">
				<ion-icon
					name="albums"
					color="primary"
					class="my-icon"
				></ion-icon>
				<div class="header my-2">
					<strong class="mr-3"> Products: </strong><br />
					<ion-label> Quantity: {{ data?.quantity }} </ion-label>
				</div>
			</mat-expansion-panel-header>
			<div color="light">
				<ion-item
					*ngFor="let item of data?.products; let i = index"
					color="light"
				>
					<app-avatar
						class="avatar mr-2"
						[src]="
							item?.product?.image?.url_thumb ||
							item?.product?.image?.url
						"
						[alt]="item?.product?.name"
					></app-avatar>
					<ion-label>
						{{ item?.product?.name }}
						<p class="m-0 text-secondary">
							{{ item?.product?.price?.value | number: '1.2-2' }}
							{{ item?.product?.price?.coin }}
						</p>
					</ion-label>
					<input
						class="counter mx-2"
						[value]="item?.quantity"
						readonly
						slot="end"
					/>
				</ion-item>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</ion-item>

<ion-item color="light" lines="none">
	<ion-icon name="cash" color="primary" slot="start"></ion-icon>
	<ion-label class="font-weight-bold">
		Total:
		<p class="m-0">
			{{ data?.total?.value | number: '1.2-2' }}
			{{ data?.total?.coin }}
		</p>
	</ion-label>
</ion-item>

<ion-item color="light" lines="none">
	<ion-icon name="document-text" color="primary" slot="start"></ion-icon>
	<ion-label class="font-weight-bold">
		Description: <br />
		<ion-text>
			{{ data?.description }}
		</ion-text>
	</ion-label>
</ion-item>
<ion-item color="light">
	<ion-icon name="today" color="primary" slot="start"></ion-icon>
	<ion-label>
		<span class="font-weight-bold">Date</span>
		<p>{{ data?.created_date?.toDate() | date: 'MMM dd, y - hh:mm a' }}</p>
	</ion-label>
</ion-item>
<ion-item color="light">
	<ion-icon name="calendar" color="primary" slot="start"></ion-icon>
	<ion-label>
		<span class="font-weight-bold">Warranty</span>
		<p>{{ data?.warranty || 'Unknown' }}</p>
	</ion-label>
</ion-item>
<div class="float-button d-flex flex-column">
	<app-small-button
		(click)="onDeleteButtonClick()"
		size="big"
		icon="trash"
		color="secondary"
		class="mb-2"
		*ngIf="user?.isAdmin"
	></app-small-button>
	<app-small-button
		(click)="onEditButtonClick()"
		size="big"
		icon="pencil"
		*ngIf="user?.isEditor || user?.isAdmin"
	></app-small-button>
</div>
