.image {
	width: 150px;
	height: 150px;
}

.avatar {
	width: 50px;
	height: 50px;
}

.title {
	font-weight: 500;
	font-size: 18px;
}

.counter {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center !important;
	border: 0;
}

.my-icon {
	font-size: 24px;
	margin-right: 32px;
	margin-top: 8px;
}

mat-accordion,
mat-expansion-panel {
	background: var(--ion-color-light);
}
