<section class="w-100 p-3">
	<ion-card-title mode="md" class="font-weight-bold">
		{{ data?.title }}
	</ion-card-title>
	<div class="my-3" *ngFor="let item of data?.items">
		<app-task-item
			(output)="onOneItemOutput($event)"
			[data]="item"
			[min_date]="data?.min_date"
		></app-task-item>
	</div>
</section>

<ion-fab
	*ngIf="add"
	[class.float-button]="fixed"
	horizontal="end"
	vertical="bottom"
	slot="fixed"
>
	<app-add-button (click)="onAddButtonClick()" size="big"></app-add-button>
</ion-fab>

<ion-infinite-scroll
	*ngIf="data?.is_infinite"
	threshold="100px"
	(ionInfinite)="onScrollShot($event)"
>
	<ion-infinite-scroll-content
		loadingSpinner="crescent"
		loadingText="Cargando..."
	>
	</ion-infinite-scroll-content>
</ion-infinite-scroll>
