<ion-header class="ion-no-border">
	<ion-toolbar color="light" class="px-2">
		<ion-back-button slot="start">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
		</ion-back-button>
		<ion-title mode="ios">Settings</ion-title>
		<ion-menu-button slot="end"></ion-menu-button>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<div class="content mx-auto app-max-width w-100 h-100 pt-3">
		<ion-list class="p-0" color="light">
			<ion-item
				color="light"
				*ngFor="let item of  items"
				button
				detail
				[routerLink]="item.path"
			>
				<ion-icon slot="start" name="{{item.icon}}-outline"></ion-icon>
				<ion-label>{{item.title}}</ion-label>
			</ion-item>
			<ion-item
				color="light"
				button
				detail
				(click)="onForgetPasswordItemClick()"
			>
				<ion-icon slot="start" name="help-outline"></ion-icon>
				<ion-label>I forgot my password</ion-label>
			</ion-item>
			<ion-item
				[disabled]="email_verified"
				color="light"
				button
				detail
				(click)="onVerifyEmailItemClick()"
			>
				<ion-icon slot="start" name="mail-outline"></ion-icon>
				<ion-label>
					{{ email_verified ? 'Verified email' : 'Verify email' }}
				</ion-label>
			</ion-item>
			<ion-item
				[disabled]="auth?.currentUser?.phoneNumber"
				color="light"
				button
				detail
				(click)="onVerifyPhoneItemClick()"
			>
				<ion-icon slot="start" name="call-outline"></ion-icon>
				<ion-label>
					{{ auth?.currentUser?.phoneNumber ? 'Verified phone number'
					: 'Verify phone number'}}
				</ion-label>
			</ion-item>
			<ion-item
				*ngIf="auth?.authenticated"
				color="light"
				button
				detail
				(click)="onLogoutItemClick()"
			>
				<ion-icon slot="start" name="lock-open-outline"></ion-icon>
				<ion-label>Logout</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
