<ion-header class="ion-no-border">
	<ion-toolbar color="light" class="px-2">
		<ion-back-button slot="start" defaultHref="lab"></ion-back-button>
		<ion-menu-button slot="end"></ion-menu-button>
	</ion-toolbar>
</ion-header>
<ion-content color="light" *ngIf="data">
	<section class="d-none content w-100 h-100 p-3 d-xl-flex">
		<div class="shadow user h-100 mr-3">
			<app-user-info
				*ngIf="customer"
				class="w-100 h-100"
				[data]="customer"
			></app-user-info>
		</div>
		<div class="w-100 d-flex flex-column flex-xl-row">
			<section class="w-100 h-100 mr-3 mb-3">
				<ion-content color="light">
					<app-device-detail
						class="w-100 h-100"
						[data]="data"
					></app-device-detail>
				</ion-content>
			</section>
			<section class="shadow tasks w-100 h-100">
				<ion-content>
					<app-tasks-list
						*ngIf="tasks"
						class="w-100 h-100"
						[data]="tasks"
						[device]="data?.id"
						[customer]="data?.customer_id"
						(output)="onOneTasksListOutput($event)"
					></app-tasks-list>
				</ion-content>
			</section>
		</div>
	</section>
	<ion-slides class="d-xl-none w-100 h-100" pager="true">
		<ion-slide class="w-100 h-100 devices mb-3">
			<ion-content color="light">
				<app-device-detail
					class="w-100 h-100"
					[data]="data"
				></app-device-detail>
			</ion-content>
		</ion-slide>
		<ion-slide class="w-100 h-100 tasks">
			<ion-content color="light">
				<app-tasks-list
					*ngIf="tasks"
					class="w-100 h-100"
					[data]="tasks"
					[device]="data?.id"
					[customer]="data?.customer_id"
					(output)="onOneTasksListOutput($event)"
				></app-tasks-list>
			</ion-content>
		</ion-slide>
		<ion-slide class="w-100 h-100 p-3">
			<app-user-info
				class="w-100 h-100"
				[data]="customer"
			></app-user-info>
		</ion-slide>
	</ion-slides>
</ion-content>
