<ion-card id="container" class="m-0 shadow-sm">
	<ion-toolbar class="px-3">
		<ion-label
			[color]="
				data?.status === 'finished' || data?.status === 'delivered'
					? 'success'
					: 'danger'
			"
		>
			{{ data?.status | titlecase }}
		</ion-label>
		<ion-icon
			*ngIf="data?.member_id"
			slot="end"
			name="checkmark-done-circle-outline"
			class="mr-2"
			color="primary"
		></ion-icon>
		<small slot="end">
			{{ data?.code }}
		</small>
	</ion-toolbar>
	<ion-item-sliding
		#item
		class="mb-3"
		[disabled]="!user.isAdmin && !user.isEditor"
	>
		<ion-item
			mode="md"
			class="ion-no-border"
			lines="none"
			button
			(click)="onClick()"
		>
			<app-avatar
				class="avatar mr-2"
				[src]="image"
				[alt]="data?.brand"
			></app-avatar>
			<ion-label>
				{{ data?.brand }} {{ data?.model }}
				<p class="m-0 text-secondary">{{ data?.serial }}</p>
			</ion-label>
			<ion-buttons slot="end">
				<ion-button
					color="medium"
					(click)="onOptionsButtonClick($event)"
					*ngIf="user.isAdmin || user.isEditor"
				>
					<ion-icon
						slot="icon-only"
						name="ellipsis-vertical"
					></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-item>
		<ion-item-options side="end">
			<ion-item-option
				(click)="onEraseOptionClick()"
				color="danger"
				*ngIf="user.isAdmin"
			>
				<ion-buttons>
					<ion-button>
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item-option>
			<ion-item-option
				color="success"
				(click)="onEditOptionClick()"
				*ngIf="user.isAdmin || user.isEditor"
			>
				<ion-buttons>
					<ion-button color="light">
						<ion-icon slot="icon-only" name="pencil"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
</ion-card>
