<h1 class="text-center">Recover Password</h1>
<form class="form" (ngSubmit)="onFormSubmit()">
	<mat-form-field appearance="outline" class="full-width">
		<input
			matInput
			placeholder="Email"
			[formControl]="email"
			[errorStateMatcher]="matcher"
		/>
		<mat-hint>Please enter your email</mat-hint>
		<mat-error
			*ngIf="email.hasError('email') && !email.hasError('required')"
		>
			Please enter a valid email address
		</mat-error>
		<mat-error *ngIf="email.hasError('required')">
			Email is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	<ion-button expand="full" type="submit">Send e-mail</ion-button>
</form>
