<ion-header class="ion-no-border">
	<ion-toolbar color="light">
		<ion-back-button slot="start" defaultHref="settings">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
		</ion-back-button>
		<ion-title mode="ios">Change Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<div class="content mx-auto app-max-width w-100 h-100 pt-3">
		<form
			class="w-100 p-4 d-flex flex-column"
			[formGroup]="form"
			(ngSubmit)="onFormSubmit()"
			(keyup.enter)="onFormSubmit()"
		>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>New Password</mat-label>
				<mat-icon matPrefix>password</mat-icon>
				<input
					matInput
					formControlName="password"
					[errorStateMatcher]="matcher"
					[type]="hidepass ? 'password' : 'text'"
				/>
				<div
					mat-icon-button
					matSuffix
					(click)="hidepass = !hidepass"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hidepass"
				>
					<mat-icon>
						{{ hidepass ? 'visibility_off' : 'visibility' }}
					</mat-icon>
				</div>
				<mat-error *ngIf="form.get('password')?.invalid">
					<app-errors [errors]="form.get('password')?.errors">
					</app-errors>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Confirm password</mat-label>
				<mat-icon matPrefix>password</mat-icon>
				<input
					matInput
					formControlName="password_confirm"
					[errorStateMatcher]="matcher"
					[type]="hidepass ? 'password' : 'text'"
				/>
				<div
					mat-icon-button
					matSuffix
					(click)="hidepass = !hidepass"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hidepass"
				>
					<mat-icon>
						{{ hidepass ? 'visibility_off' : 'visibility' }}
					</mat-icon>
				</div>
				<mat-error *ngIf="form.get('password_confirm')?.invalid">
					<app-errors [errors]="form.get('password_confirm')?.errors">
					</app-errors>
				</mat-error>
			</mat-form-field>
			<ion-button
				[disabled]="form.pristine || form.invalid"
				type="submit"
				class="w-100 mt-3 radius-all"
			>
				Save
			</ion-button>
		</form>
	</div>
</ion-content>
